# Pakistan Sales

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from sqlalchemy import create_engine
import pyodbc 
import urllib

In [2]:
#Connect with ms sql server instance (two databases)

pd.set_option('expand_frame_repr', True)
pd.set_option("display.max_rows", 1000)
pd.set_option('max_colwidth',100)



server = r'DESKTOP-06UQ0CT\NEW_SALES2023'


database_Sales_E_Commerce = 'Sales_E_Commerce'
database_Sales_Analysis = 'SalesAnalysis'


Driver= 'ODBC Driver 17 for SQL Server'


username = 'myusername' 
password = 'mypassword'



Database_con_E_commerce = f'mssql://@{server}/{database_Sales_E_Commerce}?driver={Driver}'


Database_con_Analysis = f'mssql://@{server}/{database_Sales_Analysis}?driver={Driver}'



engine_E_commerce = create_engine(Database_con_E_commerce)


engine_Analysis = create_engine(Database_con_Analysis)

#Do pełnych setów
con_E_comerce = engine_E_commerce.connect()


#Pod analisy setów
con_E_Analysis = engine_Analysis.connect()

In [3]:
PakistanSales = pd.read_csv('Pakistan_Largest_Ecommerce_Dataset.csv')

C:\Users\Michał\AppData\Local\Temp\ipykernel_26852\3036694380.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  PakistanSales = pd.read_csv('Pakistan_Largest_Ecommerce_Dataset.csv')

In [5]:
PakistanSales

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,Category name,discount_amount,payment_method,Working Date,BI Status,Merchant Value,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,2016-07-01,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,Cash On Delivery,7/1/2016,#REF!,"1,950",2016,7,2016-7,7-2016,FY17,1.0
1,211133,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Body Spray Free,240.0,1,240.0,100147444,Beauty & Grooming,0.0,Cash On Delivery,7/1/2016,Gross,240,2016,7,2016-7,7-2016,FY17,2.0
2,211134,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,Cash On Delivery,7/1/2016,Gross,"2,450",2016,7,2016-7,7-2016,FY17,3.0
3,211135,complete,2016-07-01,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,Cash On Delivery,7/1/2016,Net,360,2016,7,2016-7,7-2016,FY17,4.0
4,211136,order_refunded,2016-07-01,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,Cash On Delivery,7/1/2016,Valid,"1,110",2016,7,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584515,905204,Cash On Delivery,2018-08-28,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,0.0,Cash On Delivery,8/28/2018,Valid,699,2018,8,2018-8,8-2018,FY19,115320.0
584516,905205,processing,2018-08-28,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018,8,2018-8,8-2018,FY19,115326.0
584517,905206,processing,2018-08-28,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018,8,2018-7,8-2018,FY19,113474.0
584518,905207,processing,2018-08-28,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018,8,2018-7,8-2018,FY19,113474.0
584519,905208,processing,2018-08-28,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018,8,2018-7,8-2018,FY19,113474.0

In [6]:


null_counts = PakistanSales.isnull().sum(axis=1)
PakistanSalesNoNulls = PakistanSales[null_counts <= 20]

In [7]:
PakistanSalesNoNulls['item_id'] = PakistanSalesNoNulls['item_id'].astype('int64')

In [8]:
PakistanSalesNoNulls['status'].unique()[13]

nan

In [9]:
PakistanSalesNoNulls = PakistanSalesNoNulls.loc[PakistanSalesNoNulls['status'] \
                         !='\\N']

In [10]:
PakistanSalesNoNulls['created_at'] = pd.to_datetime(PakistanSalesNoNulls['created_at'])

In [11]:
PakistanSalesNoNulls['qty_ordered'] = PakistanSalesNoNulls['qty_ordered'].astype('int64')

In [12]:
PakistanSalesNoNulls.iloc[10000:10004, :]

PakistanSalesNoNulls = PakistanSalesNoNulls.replace('cod','Cash On Delivery')

In [105]:
#PakistanSalesNoNulls = PakistanSalesNoNulls.rename(columns={'category_name_1': 'Product name'})
PakistanSalesNoNulls = PakistanSalesNoNulls.rename(columns={'Product name': 'Category name'})

In [13]:
PakistanSalesNoNulls

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,Category name,discount_amount,payment_method,Working Date,BI Status,Merchant Value,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,2016-07-01,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,Cash On Delivery,7/1/2016,#REF!,"1,950",2016,7,2016-7,7-2016,FY17,1.0
1,211133,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Body Spray Free,240.0,1,240.0,100147444,Beauty & Grooming,0.0,Cash On Delivery,7/1/2016,Gross,240,2016,7,2016-7,7-2016,FY17,2.0
2,211134,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,Cash On Delivery,7/1/2016,Gross,"2,450",2016,7,2016-7,7-2016,FY17,3.0
3,211135,complete,2016-07-01,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,Cash On Delivery,7/1/2016,Net,360,2016,7,2016-7,7-2016,FY17,4.0
4,211136,order_refunded,2016-07-01,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,Cash On Delivery,7/1/2016,Valid,"1,110",2016,7,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584515,905204,Cash On Delivery,2018-08-28,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,0.0,Cash On Delivery,8/28/2018,Valid,699,2018,8,2018-8,8-2018,FY19,115320.0
584516,905205,processing,2018-08-28,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018,8,2018-8,8-2018,FY19,115326.0
584517,905206,processing,2018-08-28,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018,8,2018-7,8-2018,FY19,113474.0
584518,905207,processing,2018-08-28,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018,8,2018-7,8-2018,FY19,113474.0
584519,905208,processing,2018-08-28,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018,8,2018-7,8-2018,FY19,113474.0

In [111]:
PakistanSalesNoNulls.loc[PakistanSalesNoNulls['payment_method'] == 'Cash On Delivery']

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,Category name,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,2016-07-01,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,\N,...,Cash On Delivery,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Body Spray Free,240.0,1,240.0,100147444,Beauty & Grooming,\N,...,Cash On Delivery,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,\N,...,Cash On Delivery,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135,complete,2016-07-01,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,Cash On Delivery,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136,order_refunded,2016-07-01,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,\N,...,Cash On Delivery,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584501,905183,Cash On Delivery,2018-08-28,SADBWH5B74016CC02D8,300.0,1,150.0,100562368,School & Education,NaN,...,Cash On Delivery,8/28/2018,Valid,300,2018.0,8.0,2018-8,8-2018,FY19,114857.0
584509,905191,Cash On Delivery,2018-08-28,MEFCOT5A8D1E973B886,399.0,1,549.0,100562376,Men's Fashion,NaN,...,Cash On Delivery,8/28/2018,Valid,399,2018.0,8.0,2018-8,8-2018,FY19,115324.0
584517,905200,Cash On Delivery,2018-08-28,WOFVAL59D5EA84167F9-M,400.0,1,550.0,100562383,Women's Fashion,NaN,...,Cash On Delivery,8/28/2018,Valid,400,2018.0,8.0,2018-8,8-2018,FY19,115325.0
584518,905202,Cash On Delivery,2018-08-28,WOFNIG5B4D7EB0E9FDD-L,499.0,1,649.0,100562384,Women's Fashion,NaN,...,Cash On Delivery,8/28/2018,Valid,499,2018.0,8.0,2018-8,8-2018,FY19,115325.0
584519,905204,Cash On Delivery,2018-08-28,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,NaN,...,Cash On Delivery,8/28/2018,Valid,699,2018.0,8.0,2018-8,8-2018,FY19,115320.0

In [129]:

    
PakistanSalesNoNulls = PakistanSalesNoNulls.drop(columns='sales_commission_code')

#'\\N'

In [136]:
PakistanSalesNoNulls.loc[0:2,:]

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,Category name,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,2016-07-01,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,Cash On Delivery,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Body Spray Free,240.0,1,240.0,100147444,Beauty & Grooming,0.0,Cash On Delivery,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,Cash On Delivery,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0

           price  grand_total  discount_amount        MV
0         1950.0       1950.0              0.0     1,950
1          240.0        240.0              0.0       240
2         2450.0       2450.0              0.0     2,450
3          360.0         60.0            300.0       360
4          555.0       1110.0              0.0     1,110
...          ...          ...              ...        ...
584519     699.0        849.0              0.0       699
584520   35599.0      35899.0              0.0    35,599
584521  129999.0     652178.0              0.0   259,998
584522   87300.0     652178.0              0.0   174,600
584523  108640.0     652178.0              0.0   217,280

[584520 rows x 4 columns]

In [149]:
PakistanSalesNoNulls.columns

PakistanSalesNoNulls = PakistanSalesNoNulls.rename(columns={' MV ': "Merchant Value"})

In [152]:
PakistanSalesNoNulls

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,Category name,discount_amount,payment_method,Working Date,BI Status,Merchant Value,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,2016-07-01,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,Cash On Delivery,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Body Spray Free,240.0,1,240.0,100147444,Beauty & Grooming,0.0,Cash On Delivery,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,Cash On Delivery,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135,complete,2016-07-01,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,Cash On Delivery,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136,order_refunded,2016-07-01,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,Cash On Delivery,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,Cash On Delivery,2018-08-28,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,0.0,Cash On Delivery,8/28/2018,Valid,699,2018.0,8.0,2018-8,8-2018,FY19,115320.0
584520,905205,processing,2018-08-28,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018.0,8.0,2018-8,8-2018,FY19,115326.0
584521,905206,processing,2018-08-28,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584522,905207,processing,2018-08-28,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584523,905208,processing,2018-08-28,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018.0,8.0,2018-7,8-2018,FY19,113474.0

In [159]:
PakistanSalesNoNulls[['price','grand_total','discount_amount','Merchant Value']]

           price  grand_total  discount_amount Merchant Value
0         1950.0       1950.0              0.0         1,950
1          240.0        240.0              0.0           240
2         2450.0       2450.0              0.0         2,450
3          360.0         60.0            300.0           360
4          555.0       1110.0              0.0         1,110
...          ...          ...              ...            ...
584519     699.0        849.0              0.0           699
584520   35599.0      35899.0              0.0        35,599
584521  129999.0     652178.0              0.0       259,998
584522   87300.0     652178.0              0.0       174,600
584523  108640.0     652178.0              0.0       217,280

[584520 rows x 4 columns]

In [162]:
PakistanSalesNoNulls

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,Category name,discount_amount,payment_method,Working Date,BI Status,Merchant Value,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,2016-07-01,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,Cash On Delivery,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Body Spray Free,240.0,1,240.0,100147444,Beauty & Grooming,0.0,Cash On Delivery,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,Cash On Delivery,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135,complete,2016-07-01,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,Cash On Delivery,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136,order_refunded,2016-07-01,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,Cash On Delivery,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,Cash On Delivery,2018-08-28,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,0.0,Cash On Delivery,8/28/2018,Valid,699,2018.0,8.0,2018-8,8-2018,FY19,115320.0
584520,905205,processing,2018-08-28,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018.0,8.0,2018-8,8-2018,FY19,115326.0
584521,905206,processing,2018-08-28,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584522,905207,processing,2018-08-28,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584523,905208,processing,2018-08-28,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018.0,8.0,2018-7,8-2018,FY19,113474.0

In [172]:
PakistanSalesNoNulls.dtypes[5:]
#PakistanSalesNoNulls.to_csv('PakistanSalesNoNullsv10.csv')

qty_ordered          int64
grand_total        float64
increment_id        object
Category name       object
discount_amount    float64
payment_method      object
Working Date        object
BI Status           object
Merchant Value      object
Year               float64
Month              float64
Customer Since      object
M-Y                 object
FY                  object
Customer ID        float64
dtype: object

In [173]:
PakistanSalesNoNulls['Year'] = PakistanSalesNoNulls['Year'].astype('int')
PakistanSalesNoNulls['Month'] = PakistanSalesNoNulls['Month'].astype('int')

In [211]:
PakistanSalesNoNulls

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,Category name,discount_amount,payment_method,Working Date,BI Status,Merchant Value,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,2016-07-01,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,Cash On Delivery,7/1/2016,#REF!,"1,950",2016,7,2016-7,7-2016,FY17,1.0
1,211133,canceled,2016-07-01,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Body Spray Free,240.0,1,240.0,100147444,Beauty & Grooming,0.0,Cash On Delivery,7/1/2016,Gross,240,2016,7,2016-7,7-2016,FY17,2.0
2,211134,canceled,2016-07-01,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,Cash On Delivery,7/1/2016,Gross,"2,450",2016,7,2016-7,7-2016,FY17,3.0
3,211135,complete,2016-07-01,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,Cash On Delivery,7/1/2016,Net,360,2016,7,2016-7,7-2016,FY17,4.0
4,211136,order_refunded,2016-07-01,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,Cash On Delivery,7/1/2016,Valid,"1,110",2016,7,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,Cash On Delivery,2018-08-28,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,0.0,Cash On Delivery,8/28/2018,Valid,699,2018,8,2018-8,8-2018,FY19,115320.0
584520,905205,processing,2018-08-28,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018,8,2018-8,8-2018,FY19,115326.0
584521,905206,processing,2018-08-28,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018,8,2018-7,8-2018,FY19,113474.0
584522,905207,processing,2018-08-28,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018,8,2018-7,8-2018,FY19,113474.0
584523,905208,processing,2018-08-28,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018,8,2018-7,8-2018,FY19,113474.0

In [218]:
PakistanSalesNoNulls.to_csv('Pakistan_Largest_Ecommerce_Dataset.csv',index=False)

In [203]:
PakistanSalesNoNulls.to_sql('PakistanSales',con_E_comerce, if_exists='replace',  index=False)

-1

In [229]:
import snowflake.connector

try:

    SnowConnE_COMMERCE = snowflake.connector.connect(
        user='Michal7890',
        password='Qwer1997@!',
        account='FRUGJUG-KG99519',
        warehouse='SALESWAREHOUSE',
        database='SALESDATABASE',
        schema='SALES_E_COMMERCE'
    )
    print("Connection successful!")
except Exception as e:
    print("Connection failed:", e)
    
    #create or REPLACE file format FILEFORMAT_SALES  type = csv record_delimiter = '\n' field_delimiter = ',' skip_header
#                                                      = 1  null_if = ('NULL', 'null')
#                                                      empty_field_as_null = true FIELD_OPTIONALLY_ENCLOSED_BY = '0x22';

#create stage InvoicesAnalysisStage file_format = FILEFORMAT_SALES;



# put_query = """
#     PUT file://C:\\Actual\\Sales_visualization\\E-Commerce_Sales_Dataset\\Pakistan_Largest_Ecommerce_Dataset.csv
#     @INVOICESSALESFILES AUTO_COMPRESS = TRUE SOURCE_COMPRESSION = AUTO_DETECT;
# """


# SnowConnE_COMMERCE.cursor().execute(put_query)
# SnowConnE_COMMERCE.commit()
# SnowConnE_COMMERCE.cursor().close()



# create_table_query = """
# CREATE OR REPLACE Table Pakistan_Largest_Ecommerce_Dataset (
#     item_id INT,
#     status STRING,
#     created_at TIMESTAMP,
#     sku STRING,
#     price FLOAT,
#     qty_ordered INT,
#     grand_total FLOAT,
#     increment_id STRING,
#     category_name STRING,
#     discount_amount FLOAT,
#     payment_method STRING,
#     working_date STRING,
#     bi_status STRING,
#     merchant_value STRING,
#     year INT,
#     month INT,
#     customer_since STRING,
#     m_y STRING,
#     fy STRING,
#     customer_id FLOAT
# );

# """

# SnowConnE_COMMERCE.cursor().execute(create_table_query)
# SnowConnE_COMMERCE.commit()
# SnowConnE_COMMERCE.cursor().close()



copy_into = (
"copy into Pakistan_Largest_Ecommerce_Dataset from @INVOICESSALESFILES/Pakistan_Largest_Ecommerce_Dataset.csv.gz file_format = FileFormat_Sales;"
)



SnowConnE_COMMERCE.cursor().execute(copy_into)
SnowConnE_COMMERCE.commit()
SnowConnE_COMMERCE.cursor().close()

SnowConnE_COMMERCE.close()

Connection successful!

item_id                     int64
status                     object
created_at         datetime64[ns]
sku                        object
price                     float64
qty_ordered                 int64
grand_total               float64
increment_id               object
Category name              object
discount_amount           float64
payment_method             object
Working Date               object
BI Status                  object
Merchant Value             object
Year                        int32
Month                       int32
Customer Since             object
M-Y                        object
FY                         object
Customer ID               float64
dtype: object